repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: end-of-file-fixer
  - id: fix-encoding-pragma
  - id: mixed-line-ending
  - id: trailing-whitespace
    exclude: >-
      (?x)^(
        tests/.*.*out|
        tests/.*.in$
      )$
- repo: https://github.com/pycqa/isort
  rev: 5.11.5
  hooks:
  - id: isort
- repo: https://github.com/ambv/black
  rev: 23.3.0
  hooks:
    - id: black
      language_version: python3.8
